.footer {
    padding-bottom: 80px;
}

.footer-contact {
    margin-bottom: 80px;
    padding: 38px 0px;

    background-color: $clr-primary-blue;
}

.footer-contact__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contact__title {
    width: 613px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.7;
    color: $clr-white;
}

.footer-contact__offer-wrap {
    width: 432px;
}

.footer-contact__text {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 1.6;
    color: $clr-light-grey;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-block-main__wrap {
}

.footer-block-main__text {
    width: 480px;
    margin-top: 10px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.7;
    color: $clr-grayscale-50;
}

.footer-block-secondary__wrap {

}

.footer-block-secondary__text {
    display: flex;
    align-items: center;

    margin-bottom: 15px;

    font-size: 18px;
    line-height: 1.6;
    color: $clr-grayscale-50;

    &::before {
        content: ' ';

        display: block;
        width: 14px;
        height: 14px;
        margin-right: 10px;

        border-radius: 50%;
        background-color: $clr-grayscale-50;
    }
}

.footer-block-secondary__input-wrap {
    position: relative;

    margin-bottom: 40px;

    display: flex;
    align-items: center;
    width: 440px;
    height: 50px;

    &::after {
        content: '';
        position: absolute;

        bottom: 0;
        left: 0;

        width: 100%;
        height: 1px;
        background-color: $clr-grayscale-70;
    }
}

.footer-block-secondary__input {
    width: 400px;
    height: 100%;

    border: 0;
    outline: 0;
}

.footer-block-secondary__label {
    position: absolute;
    top: 50%;
    left: 5px;

    transform: translateY(-50%);

    font-size: 16px;
    line-height: 1.6;
    color: $clr-light-grey;

    pointer-events: none;
}

.footer-block-secondary__sub-btn {
    width: 30px;
    height: 30px;

    margin-left: auto;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.footer-block-secondary__sub-icon-wrap {
    width: 100%;
    height: 100%;

    fill: transparent;
    stroke: $clr-grayscale-black;
}

.footer-block-secondary__social-wrap {
    width: 203px;
    margin-left: auto;
}

.footer-block-secondary__social-title {
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 1.6;
    color: $clr-grayscale-50;
}

.footer-block-secondary__social-list {
    display: flex;
    gap: 25px;
}

.footer-block-secondary__social-item {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background-color: $clr-light-grey;
}

.footer-block-secondary__social-icon {
    fill: $clr-grayscale-black;
}
