// BLUE
$clr-primary-blue: #2C3878;
$clr-blue-90: #566093;
$clr-blue-75: #8088AE;
$clr-blue-50: #ABAFC9;
$clr-blue-25: #D5D7E4;
$clr-blue-10: #EAEBF2;

// GRAYSCALE
$clr-grayscale-black: #000000;
$clr-grayscale-70: #141414;
$clr-grayscale-50: #333333;
$clr-grayscale-30: #3C3C3C;
$clr-grayscale-10: #9C9C9C;

$clr-light-grey: #D9D9D9;
$clr-white: #ffffff;