.product__title {
    position: relative;

    margin-bottom: 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $clr-grayscale-black;

    &::after {
        content: "";

        position: absolute;
        top: 50%;
        left: 90px;

        width: 504px;
        height: 1px;

        background-color: $clr-grayscale-black;
        transform: translateY(-50%);
    }
}

.product__subtitle-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 73px;
}

.product__subtitle {
    width: 337px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.7;
    color: $clr-grayscale-50;
}

.product__text {
    width: 473px;

    font-size: 18px;
    line-height: 1.6;
    color: $clr-grayscale-10;
}

.product__item {
    display: flex;
    align-items: baseline;

    &:not(:last-child) {
        margin-bottom: 43px;
    }
}

.product__number {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: $clr-grayscale-50;
}

.product__info-block {
    margin-left: 87px;
}

.product__name {
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: $clr-grayscale-50;
}

.product__about {
    width: 469px;

    font-size: 18px;
    line-height: 1.6;
    color: $clr-grayscale-50;
}

.product__link {
    margin-left: auto;
}

.product__icon {
    stroke: $clr-grayscale-black;
    fill: transparent;
}

