.service__title {
    position: relative;

    margin-bottom: 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $clr-grayscale-black;

    &::after {
        content: "";

        position: absolute;
        top: 50%;
        left: 80px;

        width: 516px;
        height: 1px;

        background-color: $clr-grayscale-black;
        transform: translateY(-50%);
    }
}

.service__subtitle {
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.7;
    color: $clr-grayscale-50;
}

.service__text {
    width: 471px;
    margin-bottom: 40px;

    font-size: 18px;
    line-height: 1.6;
    color: $clr-grayscale-10;
}

.service__list {
    width: 883px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: $clr-white;
}

.service__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 35px;
    }
}

.service__number {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: $clr-grayscale-50;
}

.service__name {
    margin-left: 40px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: $clr-grayscale-50;
}

.service__link {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
}

.service__icon {
    stroke: $clr-grayscale-black;
    fill: transparent;
}

.service__img {
    position: relative;
    margin-left: auto;
    margin-top: -164px;

    z-index: -2;
}
